<script type="text/ng-template" id="home-screen.html">
    <div screen="home">

        <div class="section flush">
            <services-item></services-item>
        </div>

        <div class="section flush">
            <hero-item></hero-item>
        </div>

        <div class="section white">
            <news-item></news-item>
        </div>

        <div class="section flush">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="section-title">أحدث وسائل الإعلام</h3>
                        <media-item></media-item>
                    </div>
                    <div class="col-md-4">
                        <div class="gap-remove-tablet"></div>
                        <h3 class="section-title">تغريد</h3>
                        <twitter-item></twitter-item>
                    </div>
                </div>
            </div>


        </div>

    </div>
</script>