<script type="text/ng-template" id="home-screen.html">
    <div screen="home">

        <div class="section flush">
            <services-item></services-item>
        </div>

        <div class="section flush">
            <hero-item></hero-item>
        </div>

        <div class="container">
            <div class="tabs flex flex-row">
                <div class="tab active">أحدث الأخبار</div>
                <div class="tab">الموارد البشرية</div>
                <div class="tab">الأمور المالية</div>
                <div class="tab">أنشطة</div>
            </div>
        </div>

        <div class="section white">
            <news-item></news-item>
        </div>

        <div class="section flush">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="section-title">الأحداث القادمة</h3>
                        <events-item></events-item>
                    </div>
                    <div class="col-md-4">
                        <h3 class="section-title">روابط خارجية</h3>
                        <links-item></links-item>
                    </div>
                    <div class="col-md-4">
                        <h3 class="section-title">الدراسة الاستقصائية</h3>
                        <div class="box box-gap">
                            <div class="box-content">
                                <h3>تصويت</h3>
                                <p>أبجد هوز دولور الجلوس امات، إيليت. للحصول على الألم النفسي، وهذا، أنه في الوقت الذي لا أحد، لا؟</p>
                                <!--<p>-->
                                <img src="http://www.conceptdraw.com/How-To-Guide/picture/bar-diagram-problem-solving-manufacturing.png" alt="" style="max-width: 100%; margin: 0px -15px -30px;height: 200px;">
                                <!--</p>-->


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section flush">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="section-title">أحدث وسائل الإعلام</h3>
                        <media-item></media-item>
                    </div>
                    <div class="col-md-4">
                        <div class="gap-remove-tablet"></div>
                        <h3 class="section-title">تغريد</h3>
                        <twitter-item></twitter-item>
                    </div>
                </div>
            </div>


        </div>

    </div>
</script>