twitter-item {
  .twitter {

    .tweet {
      padding: 15px 0;
      margin: 0 15px;
      border-bottom: 3px solid $light;

      &:first-child {
      }

      &:last-child {
        border: none;
      }

      .tweet-icon {
        margin-right: 15px;
        color: #00aced;

        .fa {
          height: 20px;
          line-height: 20px;
          font-size: 18px;
        }

      }

      p {
        margin-top: 5px;
      }
    }

  }
}