<script type="text/ng-template" id="twitter.html">
    <div class="box box-gap {{twitter.boxClass}}">
        <div class="twitter flex">

            <div class="tweet flex flex-row flex-auto">
                <div class="tweet-icon flex flex-justify flex-align flex-min">
                    <i class="fa fa-twitter"></i>
                </div>
                <div class="flex flex-justify">
                    <p>هناك أقل من ضعف منه، وتتهرب من ذلك. خلاف ذلك، والكثير من الآلام لتجنب آلام أسوأ، والضعف، مثل أي متعة.</p>
                </div>
            </div>

            <div class="tweet flex flex-row flex-auto">
                <div class="tweet-icon flex flex-justify flex-align flex-min">
                    <i class="fa fa-twitter"></i>
                </div>
                <div class="flex flex-justify">
                    <p>ولكن الألم كان آلام مبرحة في وصيته، وشرح للسقوط أقل من ذلك الذي ولدت فيه، غالبا ما يكون العفو الحكمة. خطأ خارجا!</p>
                </div>
            </div>

            <div class="tweet flex flex-row flex-auto">
                <div class="tweet-icon flex flex-justify flex-align flex-min">
                    <i class="fa fa-twitter"></i>
                </div>
                <div class="flex flex-justify">
                    <p>ويتهم شيء من، مع ولأن كلا من ممارسة الرحلة، أو لمتابعة له في هذا، ولكن، لدينا دائم!</p>
                </div>
            </div>

        </div>
    </div>

</script>