<script type="text/ng-template" id="twitter.html">
    <div class="box box-gap">
        <div class="twitter flex">

            <div class="tweet flex flex-row">
                <div class="tweet-icon flex flex-justify flex-align flex-min">
                    <i class="fa fa-twitter"></i>
                </div>
                <div class="flex flex-justify">
                    <p>Deleniti esse est et fugiat iste minus mollitia. Alias amet asperiores doloribus dolorum, mollitia quasi quis voluptatem.</p>
                </div>
            </div>

            <div class="tweet flex flex-row">
                <div class="tweet-icon flex flex-justify flex-align flex-min">
                    <i class="fa fa-twitter"></i>
                </div>
                <div class="flex flex-justify">
                    <p>At doloremque doloribus dolorum eius est eveniet, explicabo incidunt minus natus quam qui quia quidem quo, ratione saepe sapiente veniam. Error, ex!</p>
                </div>
            </div>

            <div class="tweet flex flex-row">
                <div class="tweet-icon flex flex-justify flex-align flex-min">
                    <i class="fa fa-twitter"></i>
                </div>
                <div class="flex flex-justify">
                    <p>Ab accusamus aliquid, cum cumque et exercitationem fuga, in iste nostrum perferendis sequi sunt suscipit vel vero!</p>
                </div>
            </div>

        </div>
    </div>

</script>