<script type="text/ng-template" id="media.html">
    <div class="box box-gap">
        <div class="box-content media flex flex-row flex-wrap">
            <div class="media-item" style="background-image: url('https://unsplash.it/1200/500/?random&100');"></div>
            <div class="media-item" style="background-image: url('https://unsplash.it/1200/500/?random&101');"></div>
            <div class="media-item" style="background-image: url('https://unsplash.it/1200/500/?random&102');"></div>
            <div class="media-item" style="background-image: url('https://unsplash.it/1200/500/?random&103');"></div>
            <div class="media-item" style="background-image: url('https://unsplash.it/1200/500/?random&104');"></div>
            <div class="media-item" style="background-image: url('https://unsplash.it/1200/500/?random&105');"></div>
            <div class="media-item" style="background-image: url('https://unsplash.it/1200/500/?random&106');"></div>
        </div>
    </div>

</script>