<script type="text/ng-template" id="services.html">
    <div class="container">
        <div class="services">
            <div class="flex flex-row flex-wrap-mob">
                <div class="service flex flex-auto flex-align flex-justify">
                    <div class="service-icon flex">
                        <img src="/public/svg/shapes-1.svg" alt="">
                    </div>
                    <div class="service-text">خدمات</div>
                </div>

                <div class="service flex flex-auto flex-align flex-justify">
                    <div class="service-icon flex">
                        <img src="/public/svg/arrow.svg" alt="">
                    </div>
                    <div class="service-text">الخدمات الخارجية</div>
                </div>

                <div class="service flex flex-auto flex-align flex-justify">
                    <div class="service-icon flex">
                        <img src="/public/svg/photo.svg" alt="">
                    </div>
                    <div class="service-text">معرض الوسائط</div>
                </div>

                <div class="service flex flex-auto flex-align flex-justify">
                    <div class="service-icon flex">
                        <img src="/public/svg/time.svg" alt="">
                        </div>
                    <div class="service-text">أنشطة</div>
                </div>

                <div class="service flex flex-auto flex-align flex-justify">
                    <div class="service-icon flex">
                        <img src="/public/svg/folder.svg" alt="">
                    </div>
                    <div class="service-text">مستندات</div>
                </div>

                <div class="service flex flex-auto flex-align flex-justify">
                    <div class="service-icon flex">
                        <img src="/public/svg/business.svg" alt="">
                    </div>
                    <div class="service-text">الملف الشخصي</div>
                </div>

            </div>
        </div>
    </div>
</script>