<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--to use real urls instead of hashes uncomment below-->
    <!--<base href="/">-->

    <title>MCS Portal</title>
    <title><%= title %></title>
    <meta name="description" content=""/>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/lib.css"/>
    <link rel="stylesheet" href="public/app.css"/>

    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto:100,300,400,500,700,900" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body data-ng-app="app">

<header-item></header-item>

<!-- screen contents -->
<div ui-view></div>


<script type="text/ng-template" id="content.html">
    <div class="content">
        <div class="container">
            <div ng-transclude="content"></div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="events.html">
    <div class="box box-gap">
        <div class="events flex">

            <div class="event flex flex-row">
                <div class="event-date flex flex-justify flex-align flex-min">
                    <div class="number">12</div>
                    <div class="month">Aug</div>
                </div>
                <div>
                    <h3>Aliquam ducimus odit?</h3>
                    <p>Ad atque consequuntur incidunt molestiae tempore tenetur!</p>
                </div>
            </div>

            <div class="event flex flex-row">
                <div class="event-date flex flex-justify flex-align flex-min">
                    <div class="number">23</div>
                    <div class="month">Sep</div>
                </div>
                <div>
                    <h3>Enim fuga vel</h3>
                    <p>Cupiditate enim explicabo impedit ipsa omnis repudiandae?</p>
                </div>
            </div>

            <div class="event flex flex-row">
                <div class="event-date flex flex-justify flex-align flex-min">
                    <div class="number">30</div>
                    <div class="month">Jul</div>
                </div>
                <div>
                    <h3>Beatae eos neque repellendus</h3>
                    <p>Alias illo mollitia obcaecati odit repudiandae sit.</p>
                </div>
            </div>

        </div>
    </div>

</script>
<script type="text/ng-template" id="header.html">
    <div class="header">
        <div class="header-top">
            <div class="container">
                <div class="menu-items">
                    <div class="menu-item">Menu <i class="fa fa-angle-down"></i></div>
                    <div class="menu-item">Communication Guide</div>
                    <div class="menu-item">Policies and Procedures</div>
                </div>
                <div class="menu-items" style="margin-left: auto">
                    <div class="menu-item">Favourites <i class="fa fa-angle-down"></i></div>
                    <div class="menu-item">Preferences <i class="fa fa-angle-down"></i></div>
                    <div class="menu-item"><i class="fa fa-user"></i> &nbsp; Muhamed Taki</div>
                </div>

            </div>

        </div>

        <div class="header-bottom">
            <div class="container">
                <div class="header-logo">
                    <img src="/public/img/logo.jpg" alt="Logo">
                </div>

                <div>
                    <div class="header-title">Ministry of Civil Services</div>
                    <!--<div class="header-section">Human Resources</div>-->
                </div>

                <div class="header-search">
                    <input type="search" class="header-search" placeholder="Search">
                </div>
            </div>

        </div>

    </div>
</script>
<script type="text/ng-template" id="links.html">
    <div class="box box-gap">
        <div class="links flex">

            <div class="link flex flex-row">
                <div class="link-icon flex flex-justify flex-align flex-min">
                    <img src="/public/svg/global.svg" alt="">
                </div>
                <div class="flex flex-justify">
                    <h3>Eaque iusto necessitatibus quasi</h3>
                </div>
            </div>

            <div class="link flex flex-row">
                <div class="link-icon flex flex-justify flex-align flex-min">
                    <img src="/public/svg/global.svg" alt="">
                </div>
                <div class="flex flex-justify">
                    <h3>Repudiandae sapiente</h3>
                </div>
            </div>

            <div class="link flex flex-row">
                <div class="link-icon flex flex-justify flex-align flex-min">
                    <img src="/public/svg/global.svg" alt="">
                </div>
                <div class="flex flex-justify">
                    <h3>Aliquam ducimus odit</h3>
                </div>
            </div>

            <div class="link flex flex-row">
                <div class="link-icon flex flex-justify flex-align flex-min">
                    <img src="/public/svg/global.svg" alt="">
                </div>
                <div class="flex flex-justify">
                    <h3>Inventore</h3>
                </div>
            </div>

            <div class="link flex flex-row">
                <div class="link-icon flex flex-justify flex-align flex-min">
                    <img src="/public/svg/global.svg" alt="">
                </div>
                <div class="flex flex-justify">
                    <h3>Eaque iusto necessitatibus quasi</h3>
                </div>
            </div>

        </div>
    </div>

</script>
<script type="text/ng-template" id="hero.html">
    <div class="container">
        <div class="hero">
            <div class="flex flex-row flex-wrap-mob">
                <div class="hero-banner" style="background-image: url('https://source.unsplash.com/category/nature/1200/500/?random');">
                    <div class="banner-overlay">
                        Aspernatur ea magni nulla officiis
                    </div>
                </div>
                <div class="flex">
                    <div class="hero-banner small" style="background-image: url('https://source.unsplash.com/category/nature/1200/500/?random&2')">
                        <div class="banner-overlay">
                            Inventore obcaecati provident
                        </div>
                    </div>
                    <div class="hero-banner small" style="background-image: url('https://source.unsplash.com/category/nature/1200/500/?random&3')">
                        <div class="banner-overlay">
                            Fulit maxime sunt
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="media.html">
    <div class="box box-gap">
        <div class="box-content media flex flex-row flex-wrap">
            <div class="media-item" style="background-image: url('https://source.unsplash.com/category/nature/1200/500/?random&100');"></div>
            <div class="media-item" style="background-image: url('https://source.unsplash.com/category/nature/1200/500/?random&101');"></div>
            <div class="media-item" style="background-image: url('https://source.unsplash.com/category/nature/1200/500/?random&102');"></div>
            <div class="media-item" style="background-image: url('https://source.unsplash.com/category/nature/1200/500/?random&103');"></div>
            <div class="media-item" style="background-image: url('https://source.unsplash.com/category/nature/1200/500/?random&104');"></div>
            <div class="media-item" style="background-image: url('https://source.unsplash.com/category/nature/1200/500/?random&105');"></div>
            <div class="media-item" style="background-image: url('https://source.unsplash.com/category/nature/1200/500/?random&106');"></div>
        </div>
    </div>

</script>
<script type="text/ng-template" id="news.html">
    <div class="news">
        <div class="container">
            <div class="flex flex-row flex-wrap box-container">

                <div class="box box-margin box-clickable" style="min-width: 300px">
                    <div class="box-image" style="background-image: url('https://source.unsplash.com/category/nature/1200/500/?random&4')"></div>
                    <div class="box-content">
                        <h3>Aspernatur ea magni nulla officiis.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis quis quisquam repellat sapiente? Aliquid assumenda blanditiis eligendi labore tempore voluptatum.</p>
                    </div>
                </div>

                <div class="box box-margin box-clickable" style="min-width: 300px">
                    <div class="box-image" style="background-image: url('https://source.unsplash.com/category/nature/1200/500/?random&5')"></div>
                    <div class="box-content">
                        <h3>Inventore obcaecati provident suscipit.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis quis quisquam repellat sapiente? Aliquid assumenda blanditiis eligendi labore tempore voluptatum.</p>
                    </div>
                </div>

                <div class="box box-margin box-clickable" style="min-width: 300px">
                    <div class="box-image" style="background-image: url('https://source.unsplash.com/category/nature/1200/500/?random&6')"></div>
                    <div class="box-content">
                        <h3>Fulit maxime sunt</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis quis quisquam repellat sapiente? Aliquid assumenda blanditiis eligendi labore tempore voluptatum.</p>
                    </div>
                </div>

            </div>

        </div>
    </div>

</script>
<script type="text/ng-template" id="services.html">
    <div class="container">
        <div class="services">
            <div class="flex flex-row">
                <div class="service flex flex-align flex-justify">
                    <div class="service-icon flex">
                        <img src="/public/svg/shapes-1.svg" alt="">
                    </div>
                    <div class="service-text">Services</div>
                </div>

                <div class="service flex flex-align flex-justify">
                    <div class="service-icon flex">
                        <img src="/public/svg/arrow.svg" alt="">
                    </div>
                    <div class="service-text">External Services</div>
                </div>

                <div class="service flex flex-align flex-justify">
                    <div class="service-icon flex">
                        <img src="/public/svg/photo.svg" alt="">
                    </div>
                    <div class="service-text">Media Gallery</div>
                </div>

                <div class="service flex flex-align flex-justify">
                    <div class="service-icon flex">
                        <img src="/public/svg/time.svg" alt="">
                        </div>
                    <div class="service-text">Activities</div>
                </div>

                <div class="service flex flex-align flex-justify">
                    <div class="service-icon flex">
                        <img src="/public/svg/folder.svg" alt="">
                    </div>
                    <div class="service-text">Documents</div>
                </div>

                <div class="service flex flex-align flex-justify">
                    <div class="service-icon flex">
                        <img src="/public/svg/business.svg" alt="">
                    </div>
                    <div class="service-text">Profile</div>
                </div>

            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="twitter.html">
    <div class="box box-gap">
        <div class="twitter flex">

            <div class="tweet flex flex-row">
                <div class="tweet-icon flex flex-justify flex-align flex-min">
                    <i class="fa fa-twitter"></i>
                </div>
                <div class="flex flex-justify">
                    <p>Deleniti esse est et fugiat iste minus mollitia. Alias amet asperiores doloribus dolorum, mollitia quasi quis voluptatem.</p>
                </div>
            </div>

            <div class="tweet flex flex-row">
                <div class="tweet-icon flex flex-justify flex-align flex-min">
                    <i class="fa fa-twitter"></i>
                </div>
                <div class="flex flex-justify">
                    <p>At doloremque doloribus dolorum eius est eveniet, explicabo incidunt minus natus quam qui quia quidem quo, ratione saepe sapiente veniam. Error, ex!</p>
                </div>
            </div>

            <div class="tweet flex flex-row">
                <div class="tweet-icon flex flex-justify flex-align flex-min">
                    <i class="fa fa-twitter"></i>
                </div>
                <div class="flex flex-justify">
                    <p>Ab accusamus aliquid, cum cumque et exercitationem fuga, in iste nostrum perferendis sequi sunt suscipit vel vero!</p>
                </div>
            </div>

        </div>
    </div>

</script>
<script type="text/ng-template" id="about-screen.html">
    <div screen="about">

        <!-- one way pass values to component -->
        <hero-item
                img="https://source.unsplash.com/category/nature/1200/500/?random&123"
                heading="About Angular Base"
        ></hero-item>
    </div>
</script>
<script type="text/ng-template" id="home-screen.html">
    <div screen="home">

        <div class="section flush">
            <services-item></services-item>
        </div>

        <div class="section flush">
            <hero-item></hero-item>
        </div>

        <div class="section white">
            <news-item></news-item>
        </div>

        <div class="section flush">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="section-title">Latest Media</h3>
                        <media-item></media-item>
                    </div>
                    <div class="col-md-4">
                        <h3 class="section-title">Twitter</h3>
                        <twitter-item></twitter-item>
                    </div>
                </div>
            </div>


        </div>

    </div>
</script>
<script src="public/lib.js"></script>
<script src="public/app.js"></script>

</body>
</html>