<script type="text/ng-template" id="events.html">
    <div class="box box-gap">
        <div class="events flex">

            <div class="event flex flex-row">
                <div class="event-date flex flex-justify flex-align flex-min">
                    <div class="number">12</div>
                    <div class="month">Aug</div>
                </div>
                <div>
                    <h3>أحدث نكره</h3>
                    <p>في ذلك الوقت، لا بد أن تقع الانزعاج نتيجة</p>
                </div>
            </div>

            <div class="event flex flex-row">
                <div class="event-date flex flex-justify flex-align flex-min">
                    <div class="number">23</div>
                    <div class="month">Sep</div>
                </div>
                <div>
                    <h3>أحدث نكره</h3>
                    <p>في ذلك الوقت، لا بد أن تقع الانزعاج نتيجة</p>
                </div>
            </div>

            <div class="event flex flex-row">
                <div class="event-date flex flex-justify flex-align flex-min">
                    <div class="number">30</div>
                    <div class="month">Jul</div>
                </div>
                <div>
                    <h3>أحدث نكره</h3>
                    <p>في ذلك الوقت، لا بد أن تقع الانزعاج نتيجة</p>
                </div>
            </div>

        </div>
    </div>

</script>