<script type="text/ng-template" id="events.html">
    <div class="box box-gap">
        <div class="events flex">

            <div class="event flex flex-row">
                <div class="event-date flex flex-justify flex-align flex-min">
                    <div class="number">12</div>
                    <div class="month">Aug</div>
                </div>
                <div>
                    <h3>Aliquam ducimus odit?</h3>
                    <p>Ad atque consequuntur incidunt molestiae tempore tenetur!</p>
                </div>
            </div>

            <div class="event flex flex-row">
                <div class="event-date flex flex-justify flex-align flex-min">
                    <div class="number">23</div>
                    <div class="month">Sep</div>
                </div>
                <div>
                    <h3>Enim fuga vel</h3>
                    <p>Cupiditate enim explicabo impedit ipsa omnis repudiandae?</p>
                </div>
            </div>

            <div class="event flex flex-row">
                <div class="event-date flex flex-justify flex-align flex-min">
                    <div class="number">30</div>
                    <div class="month">Jul</div>
                </div>
                <div>
                    <h3>Beatae eos neque repellendus</h3>
                    <p>Alias illo mollitia obcaecati odit repudiandae sit.</p>
                </div>
            </div>

        </div>
    </div>

</script>