html, body {
  font-family: 'Roboto', 'Mada', sans-serif;
  overflow-x: hidden;
  background: #f7f7f8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  direction: rtl;
  min-width: 320px; }

input, textarea {
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', 'Mada', sans-serif; }

body {
  min-width: 320px; }

.fa {
  line-height: inherit; }

[screen] {
  opacity: 0;
  padding-top: 120px;
  transition: .3s;
  min-height: calc(100vh - 120px); }
  [screen].active {
    opacity: 1; }
  @media (max-width: 767px) {
    [screen] {
      padding-top: 40px; } }
  @media (min-width: 768px) and (max-width: 990px) {
    [screen] {
      padding-top: 40px; } }

[screen="home"] {
  background: url("/public/img/back.png") no-repeat bottom left;
  background-size: cover;
  padding-bottom: 30px; }

[screen^="content"] {
  background: #e9e3d4;
  background-size: cover;
  padding-bottom: 30px; }

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', 'Mada', sans-serif;
  margin: 20px 0 0; }
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
    margin: 0; }

h1, h2 {
  line-height: 60px;
  margin: 20px 0 30px; }

h3 {
  font-size: 16px; }

p {
  margin: 20px 0 0; }
  p:first-child {
    margin: 0; }

img {
  max-width: 100%;
  border-radius: 3px; }

.gap-remove-mobile {
  margin-top: -30px; }
  @media (max-width: 767px) {
    .gap-remove-mobile {
      margin-top: 0px; } }

.gap-remove-tablet {
  margin-top: -30px; }
  @media (min-width: 768px) and (max-width: 990px) {
    .gap-remove-tablet {
      margin-top: 0px; } }
  @media (max-width: 767px) {
    .gap-remove-tablet {
      margin-top: 0px; } }

.section-title {
  line-height: 35px;
  padding: 0 15px;
  background: white;
  box-shadow: 0 15px 75px rgba(23, 55, 87, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  display: inline-block;
  border-radius: 3px;
  margin-top: 30px;
  background: #dbb651;
  color: white;
  font-weight: 600; }

.section {
  padding: 30px 0; }
  .section.white {
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); }
  .section.flush {
    padding: 0;
    margin: 30px 0; }
  .section.gap {
    margin-top: 30px;
    padding-top: 30px; }

.tabs {
  height: 35px;
  font-family: 'Oswald', 'Mada', sans-serif;
  font-size: 16px; }
  .tabs .tab {
    height: 35px;
    line-height: 32px;
    padding: 0 15px;
    background: #dbdde0;
    border-top: solid 3px #dbb651;
    cursor: pointer;
    transition: .2s;
    border-radius: 3px 3px 0 0;
    margin-right: 3px; }
    .tabs .tab.active {
      background: white;
      border-top: solid 3px #167e43; }
    .tabs .tab:hover {
      background: white; }

.box-container {
  margin: 15px -15px; }

.box {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  background: white;
  border-radius: 3px;
  box-shadow: 0 15px 75px rgba(23, 55, 87, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  overflow: hidden;
  transition: .2s; }
  .box.box-light {
    background: #e9eaec; }
  .box.box-clickable {
    cursor: pointer; }
    .box.box-clickable:hover {
      transform: scale(1.05); }
  .box.box-gap {
    margin-top: 30px; }
  .box.box-margin {
    margin-top: 0;
    margin: 15px; }
  .box .box-image {
    height: 150px;
    background: #eee;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .box .box-content {
    padding: 20px; }

.flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  -ms-flex-direction: column;
      flex-direction: column; }
  .flex.flex-row {
    -ms-flex-direction: row;
        flex-direction: row; }
  .flex.flex-auto {
    -ms-flex: 1 1 auto;
        flex: 1 1 auto; }
  .flex.flex-min {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto; }
  .flex.flex-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  @media (max-width: 767px) {
    .flex.flex-wrap-mob {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  .flex.flex-align {
    -ms-flex-align: center;
        align-items: center; }
  .flex.flex-justify {
    -ms-flex-pack: center;
        justify-content: center; }
  .flex.flex-start {
    -ms-flex-item-align: start;
        align-self: flex-start; }
  .flex.flex-end {
    -ms-flex-item-align: end;
        align-self: flex-end; }

content-item .content {
  font-size: 16px;
  font-weight: 300; }
  content-item .content h1, content-item .content h2, content-item .content h3, content-item .content h4, content-item .content p {
    margin: 10px 0 0;
    padding: 10px 0 0; }
  content-item .content h1 {
    font-size: 40px;
    font-weight: 100; }
  content-item .content p {
    font-size: 16px;
    font-weight: 300; }
    content-item .content p a {
      font-weight: 600;
      color: #167e43; }

events-item .events .event {
  padding: 15px 0;
  margin: 0 15px;
  border-bottom: 3px solid #e9eaec; }
  events-item .events .event:last-child {
    border: none; }
  events-item .events .event .event-date {
    background: #167e43;
    color: white;
    height: 60px;
    min-width: 60px;
    max-width: 60px;
    border-radius: 3px;
    margin-left: 15px;
    text-align: center;
    font-family: 'Oswald', sans-serif; }
    events-item .events .event .event-date .number {
      font-size: 23px; }
  events-item .events .event p {
    margin-top: 5px; }

foot-item .foot {
  padding: 30px;
  background: white;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); }
  foot-item .foot a {
    display: block;
    color: white;
    color: #212121;
    text-decoration: none;
    line-height: 20px;
    font-weight: 500;
    font-size: 16px;
    margin-top: 10px; }
  foot-item .foot h3 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
    color: #167e43; }

foot-item .foot-bottom {
  background: #f2f2f2;
  text-align: center;
  color: #212121;
  line-height: 40px;
  height: 40px;
  font-weight: 500;
  font-size: 16px; }

header-item .mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3000;
  background: rgba(0, 0, 0, 0.2); }
  header-item .mobile-menu .menu-box {
    width: 300px;
    background: white;
    box-shadow: 0 15px 75px rgba(23, 55, 87, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07); }
    header-item .mobile-menu .menu-box .menu-bar {
      height: 40px;
      background: #dbb651;
      color: #212121; }
      header-item .mobile-menu .menu-box .menu-bar .close-menu {
        height: 40px;
        width: 40px;
        font-size: 20px;
        cursor: pointer; }
        header-item .mobile-menu .menu-box .menu-bar .close-menu .fa {
          width: 40px;
          text-align: center;
          line-height: 40px;
          cursor: pointer; }
    header-item .mobile-menu .menu-box .menu-items {
      margin-bottom: -1px; }
      header-item .mobile-menu .menu-box .menu-items .menu-item {
        height: 40px;
        line-height: 39px;
        padding: 0 15px;
        font-size: 17px;
        border-bottom: 1px solid #e9eaec; }

header-item .header {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 75px rgba(23, 55, 87, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07); }
  header-item .header .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center; }
    @media (max-width: 767px) {
      header-item .header .container {
        width: 100%; } }
  header-item .header .header-mobile {
    height: 40px;
    line-height: 40px;
    background: #167e43;
    color: white; }
    header-item .header .header-mobile .menu-logo {
      font-size: 19px; }
    header-item .header .header-mobile .header-menu {
      height: 40px;
      width: 40px;
      font-size: 25px;
      cursor: pointer; }
  header-item .header .header-top {
    height: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
    background: #167e43;
    color: white; }
    header-item .header .header-top .menu-items {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-align: center;
          align-items: center;
      margin: 0 -10px;
      line-height: 35px;
      height: 35px; }
      @media (max-width: 767px) {
        header-item .header .header-top .menu-items {
          display: none; } }
      header-item .header .header-top .menu-items .menu-item {
        padding: 0 10px;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        transition: .3s;
        cursor: pointer; }
        header-item .header .header-top .menu-items .menu-item:last-child {
          border-left: 1px solid rgba(255, 255, 255, 0.2); }
        header-item .header .header-top .menu-items .menu-item:hover {
          background: rgba(255, 255, 255, 0.2); }
  header-item .header .header-bottom {
    height: 90px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
    background: white;
    color: #212121; }
    header-item .header .header-bottom .header-logo img {
      height: 60px;
      width: auto;
      margin-right: 15px;
      margin-left: 15px; }
    header-item .header .header-bottom .header-title {
      font-family: 'Oswald', 'Mada', sans-serif;
      color: #167e43;
      font-size: 28px; }
    header-item .header .header-bottom .header-section {
      margin-top: 5px; }
    header-item .header .header-bottom .header-search input {
      border: none;
      background: #e9eaec;
      line-height: 30px;
      border-radius: 30px;
      padding: 0 15px;
      outline: none; }

hero-item .hero {
  position: relative;
  box-shadow: 0 15px 75px rgba(23, 55, 87, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  overflow: hidden;
  border: 2px solid white;
  border-top: 1px solid white;
  border-left: 1px solid white; }
  hero-item .hero .hero-banner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1.5 1 auto;
        flex: 1.5 1 auto;
    position: relative;
    background: #eee;
    background-size: cover;
    background-position: center;
    border: 1px solid white;
    border-top: 2px solid white;
    border-left: 2px solid white;
    min-height: 175px;
    min-width: 250px; }
    hero-item .hero .hero-banner .banner-overlay {
      position: absolute;
      right: 0;
      bottom: 0;
      max-width: 100%;
      padding: 15px 30px;
      text-align: left;
      background: rgba(0, 0, 0, 0.4);
      display: -ms-flexbox;
      display: flex;
      -ms-flex-line-pack: center;
          align-content: center;
      -ms-flex-align: center;
          align-items: center;
      -ms-grid-column-align: center;
          justify-items: center;
      color: white;
      font-family: 'Oswald', 'Mada', sans-serif;
      font-size: 35px; }
    hero-item .hero .hero-banner.small {
      min-height: 175px; }
      hero-item .hero .hero-banner.small .banner-overlay {
        font-size: 20px; }
    @media (max-width: 767px) {
      hero-item .hero .hero-banner {
        min-height: 175px; }
        hero-item .hero .hero-banner .banner-overlay {
          font-size: 20px; } }

links-item .links .link {
  padding: 15px 0;
  margin: 0 15px;
  border-bottom: 3px solid #e9eaec; }
  links-item .links .link:last-child {
    border: none; }
  links-item .links .link .link-icon {
    margin-left: 15px; }
    links-item .links .link .link-icon img {
      height: 20px; }
  links-item .links .link p {
    margin-top: 5px; }

media-item .media {
  margin: -5px; }
  media-item .media .media-item {
    -ms-flex: 1 1 150px;
        flex: 1 1 150px;
    height: 100px;
    border-radius: 3px;
    margin: 5px;
    background-size: cover;
    background-position: center; }

news-item .news .box {
  width: 260px; }
  news-item .news .box h3 {
    color: #167e43;
    font-weight: 600; }

services-item .services {
  background: white;
  box-shadow: 0 15px 75px rgba(23, 55, 87, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  border-radius: 3px; }
  services-item .services .service {
    -ms-flex: 1 0 110px;
        flex: 1 0 110px;
    padding: 15px;
    text-align: center; }
    services-item .services .service .service-icon {
      color: #167e43;
      min-height: 50px;
      height: 50px;
      line-height: 50px;
      width: 50px;
      font-size: 30px; }
      services-item .services .service .service-icon img {
        height: 40px; }
    services-item .services .service .service-text {
      color: #212121;
      border-radius: 5px;
      padding: 3px 15px;
      font-family: 'Oswald', 'Mada', sans-serif;
      font-size: 16px;
      margin-top: 5px; }

twitter-item .twitter .tweet {
  padding: 15px 0;
  margin: 0 15px;
  border-bottom: 3px solid #e9eaec; }
  twitter-item .twitter .tweet:last-child {
    border: none; }
  twitter-item .twitter .tweet .tweet-icon {
    margin-left: 15px;
    color: #00aced; }
    twitter-item .twitter .tweet .tweet-icon .fa {
      height: 20px;
      line-height: 20px;
      font-size: 18px; }
  twitter-item .twitter .tweet p {
    margin-top: 5px; }
