<script type="text/ng-template" id="news.html">
    <div class="news">
        <div class="container">

            <h3 class="section-title">الاخبار المهمه</h3>
            <div class="flex flex-row flex-wrap box-container">

                <div class="box box-margin box-clickable box-gap">
                    <div class="box-image" style="background-image: url('https://source.unsplash.com/category/nature/1200x512')"></div>
                    <div class="box-content">
                        <h3>وترفض أي مكاتب كبيرة</h3>
                        <p>بـ إعادة أعمال إيو, إنطلاق تكاليف المعاهدات ثم ذلك. وإعلان بالتوقيع الخارجية أخر و</p>
                    </div>
                </div>

                <div class="box box-margin box-clickable box-gap">
                    <div class="box-image" style="background-image: url('https://source.unsplash.com/category/nature/1200x511')"></div>
                    <div class="box-content">
                        <h3>أعمى من جانب الادخار</h3>
                        <p>بـ إعادة أعمال إيو, إنطلاق تكاليف المعاهدات ثم ذلك. وإعلان بالتوقيع الخارجية أخر و</p>
                    </div>
                </div>

                <div class="box box-margin box-clickable box-gap">
                    <div class="box-image" style="background-image: url('https://source.unsplash.com/category/nature/1200x510')"></div>
                    <div class="box-content">
                        <h3>لقب يذهب هنا</h3>
                        <p>بـ إعادة أعمال إيو, إنطلاق تكاليف المعاهدات ثم ذلك. وإعلان بالتوقيع الخارجية أخر و</p>
                    </div>
                </div>

            </div>

        </div>
    </div>

</script>