<script type="text/ng-template" id="news.html">
    <div class="news">
        <div class="container">
            <div class="flex flex-row flex-wrap box-container">

                <div class="box box-margin box-clickable" style="min-width: 300px">
                    <div class="box-image" style="background-image: url('https://source.unsplash.com/category/nature/1200x500?4')"></div>
                    <div class="box-content">
                        <h3>Aspernatur ea magni nulla officiis.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis quis quisquam repellat sapiente? Aliquid assumenda blanditiis eligendi labore tempore voluptatum.</p>
                    </div>
                </div>

                <div class="box box-margin box-clickable" style="min-width: 300px">
                    <div class="box-image" style="background-image: url('https://source.unsplash.com/category/nature/1200x500?5')"></div>
                    <div class="box-content">
                        <h3>Inventore obcaecati provident suscipit.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis quis quisquam repellat sapiente? Aliquid assumenda blanditiis eligendi labore tempore voluptatum.</p>
                    </div>
                </div>

                <div class="box box-margin box-clickable" style="min-width: 300px">
                    <div class="box-image" style="background-image: url('https://source.unsplash.com/category/nature/1200x500?6')"></div>
                    <div class="box-content">
                        <h3>Fulit maxime sunt</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis quis quisquam repellat sapiente? Aliquid assumenda blanditiis eligendi labore tempore voluptatum.</p>
                    </div>
                </div>

            </div>

        </div>
    </div>

</script>