<script type="text/ng-template" id="links.html">
    <div class="box box-gap">
        <div class="links flex">

            <div class="link flex flex-row">
                <div class="link-icon flex flex-justify flex-align flex-min">
                    <img src="/public/svg/global.svg" alt="">
                </div>
                <div class="flex flex-justify">
                    <h3>انها تحتاج فقط</h3>
                </div>
            </div>

            <div class="link flex flex-row">
                <div class="link-icon flex flex-justify flex-align flex-min">
                    <img src="/public/svg/global.svg" alt="">
                </div>
                <div class="flex flex-justify">
                    <h3>انها تحتاج فقط</h3>
                </div>
            </div>

            <div class="link flex flex-row">
                <div class="link-icon flex flex-justify flex-align flex-min">
                    <img src="/public/svg/global.svg" alt="">
                </div>
                <div class="flex flex-justify">
                    <h3>انها تحتاج فقط</h3>
                </div>
            </div>

            <div class="link flex flex-row">
                <div class="link-icon flex flex-justify flex-align flex-min">
                    <img src="/public/svg/global.svg" alt="">
                </div>
                <div class="flex flex-justify">
                    <h3>انها تحتاج فقط</h3>
                </div>
            </div>

            <div class="link flex flex-row">
                <div class="link-icon flex flex-justify flex-align flex-min">
                    <img src="/public/svg/global.svg" alt="">
                </div>
                <div class="flex flex-justify">
                    <h3>انها تحتاج فقط</h3>
                </div>
            </div>

        </div>
    </div>

</script>