<script type="text/ng-template" id="foot.html">
    <div class="foot">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>خدمات</h3>
                    <a href="#">انها تحتاج فقط</a>
                    <a href="#"> أسوأ، والضعف،</a>
                    <a href="#"> دولور الجلوس</a>
                </div>
                <div class="col-md-4">
                    <h3>من نحن</h3>
                    <a href="#"> أسوأ، والضعف،</a>
                    <a href="#"> دولور الجلوس</a>
                    <a href="#">أو لمتابعة له </a>
                </div>
                <div class="col-md-4">
                    <h3>اتصل</h3>
                    <a href="#"> دولور الجلوس</a>
                    <a href="#">أو لمتابعة له </a>
                    <a href="#">انها تحتاج فقط</a>
                    <a href="#">أو لمتابعة له </a>
                </div>
            </div>
        </div>


    </div>
    <div class="foot-bottom">حقوق التأليف والنشر 2017 المملكة العربية السعودية</div>
</script>